@import "tailwindcss";

/* Override focus styles */
*:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 2px var(--color-primary) !important;
}

@plugin "daisyui" {
  themes: emerald --default;
}
@plugin "daisyui/theme" {
  name: "emerald";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(95% 0 0);
  --color-base-300: oklch(91% 0 0);
  --color-base-content: oklch(35.519% 0.032 262.988);
  --color-primary: oklch(79.93% 0.0781 200.89);
  --color-primary-content: oklch(38% 0.063 188.416);
  --color-secondary: oklch(61.302% 0.202 261.294);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(88.16% 0.0736 55.24);
  --color-accent-content: oklch(33.387% 0.04 162.24);
  --color-neutral: oklch(35.519% 0.032 262.988);
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(64.84% 0.293 29.349);
  --color-error-content: oklch(12.968% 0.058 29.349);
  --radius-selector: 0.65rem;
  --radius-field: 0.65rem;
  --radius-box: 0.65rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
